<div class="container-fluid bg-grey align-items-center justify-content-center p-sm-2 p-md-5 m-0 ">
    <div class="container-fluid justify-content-center p-5 align-items-center col">

        <div class="row">
            <h3 id="lineas" class="text-center text-secondary" >LINEAS</h3>
        </div>
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-center ">
            <div class="d-flex flex-column  ">
                <img class="img-fluid text-center" src="../../../assets/images/perfiles/herrero.png" alt="">
                <h4 class="text-center text-secondary">HERRERO</h4>    
            </div>
            <div class="d-flex flex-column">
                <img class="img-fluid text-center" src="../../../assets/images/perfiles/modena.png" alt="">
                <h4 class="text-center text-secondary">MODENA</h4>    
            </div>
            <div class="d-flex flex-column">
                <img class="img-fluid text-center" src="../../../assets/images/perfiles/a30.png" alt="">
                <h4 class="text-center text-secondary">A30</h4>    
            </div>
        </div>
    </div>
</div>