<div class="container-fluid bg-blue d-flex align-items-center justify-content-center p-sm-2 p-md-0 m-0 ">
    <div class="container row d-flex justify-content-center  align-items-center">
        <div class="p-5">
            <h3 id="servicios" class="text-center text-white">SERVICIOS</h3>
        </div>
        <div class="col-md p-5">
            <div class="">
                <div class="d-flex justify-content-center align-items-center p-md-0">
                    <img class=""  width="150px" src="../../../assets/servicio/diseñopersonalizados.svg" alt="">
                </div>
                
                <p class="text-center text-white m-3">Diseños Personalizados</p>
            </div>
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <img class=""width="150px" src="../../../assets/servicio/enviologistica.svg" alt="">
                </div>
                
                <p class="text-center text-white m-3">Envío y lógistica</p>
            </div>
        </div>
        <div class="col-md">
            <img class="img-fluid text-center text-white " width="" src="../../../assets/servicio/imagenServicios.png" alt="">
        </div>
        <div class="col-md">
            <div class="">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="" width="150px" src="../../../assets/servicio/asesoramiento.svg" alt="">
                </div>
                
                <p class="text-center text-white m-3">Asesoramiento técnico</p>
            </div>
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <img class="" width="150px" src="../../../assets/servicio/presupuesto.svg" alt="">
                </div>
                
                <p class="text-center text-white m-3">Presupuesto detallado</p>
            </div>
        </div>
    </div>
</div>